<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>day3</title>
</head>

<body>
    <div id="app1">
        <p>{{ message | capitalize }}</p>
        <input type="text" v-model="username1">
        <input type="text" v-model="username2">
        <input type="text" v-model="info.username">
        <div>
            <span>R : </span><input type="text" v-model="color.R">
            <br>
            <span>G : </span><input type="text" v-model="color.G">
            <br>
            <span>B : </span><input type="text" v-model="color.B">
            <div style="width: 300px; height: 300px;"
                :style="{backgroundColor: `rgb(${color.R},${color.G} ,${color.B})`}">
                {{ `rgb(${color.R},${color.G} ,${color.B})` }}
            </div>
            <br>
            <div style="width: 300px; height: 300px;" :style="{backgroundColor: rgb}">
                {{ rgb }}
            </div>
            <button id="btn_ceshi"> 点击测试await axios提交</button>
        </div>
    </div>
    <!-- <div id="app2">
        <p>{{ message | capitalize }}</p>
    </div> -->
    <script src="vue.js"></script>
    <script src="axios.js"></script>
    <script>
        Vue.filter('capitalize',/* 箭头函数 */(val) => {
            return val.charAt(0).toUpperCase() + val.substring(1)
        })
        const app1 = new Vue({
            el: '#app1',
            data: {
                message: 'xiaoGuo',
                username1: 'xiaoGuo',
                username2: 'xiaoZhao',
                info: {
                    username: 'mengFan'
                },
                color: {
                    R: 255,
                    G: 100,
                    B: 100
                }
            },
            methods: {

            },
            /* watch 侦听器函数 */
            watch: {
                //监听哪个数据就用数据当成函数名称  新值在前 旧值在后
                //方法格式监听器
                username1(newVal, oldVal) {
                    console.log(newVal, oldVal);
                },
                //对象格式监听器
                username2: {
                    handler(newVal, oldVal) {
                        console.log(newVal, oldVal);
                    },
                    //默认值 false  控制监听器自动触发
                    immediate: true
                },
                //深度监听method.1
                info: {
                    handler(newVal) {
                        console.log(newVal.username);
                    },
                    //默认false
                    deep: true,
                },
                //深度监听method.2
                'info.username'(newVal) {
                    console.log(newVal);
                },
            },
            /* 计算属性 */
            computed: {
                //方法格式调用
                rgb() {
                    return `rgb(${this.color.R},${this.color.G} ,${this.color.B})`
                }
            },
            /* 过滤器函数 */
            filters: {
                capitalize(val) {
                    return val.charAt(0).toUpperCase() + val.slice(1)
                    // return val.charAt(0).toUpperCase() + val.substring(1)
                },
            }
        })
        // const app2 = new Vue({
        //     el: '#app2',
        //     data: {
        //         message: 'xiaoZhao',
        //     },
        // })
        /* axios网络请求 */
        axios({
            method: 'GET',
            url: 'url.......',
        }).then(function (books) {
            console.log(books);
        })
        //如果调用某个方法的返回值是promise实例，前可加await -->只可用于被async“修饰”的方法
        document.querySelector('#btn_ceshi').addEventListener("click", async function () {
            const result = await axios({
                method: 'GET',
                url: 'url.......',
            })
            console.log(result);
            //使用解构赋值 + ":"重命名
            const { data: res } = await axios({
                method: 'GET',
                url: 'url......'
            })

        })
    </script>
</body>

</html>